
#d1 {
    display: flex;
    position: absolute;
    left: 140px;
}
#f1 {
    display: flex;
    position: absolute;
    left: 210px;
}
#g1 {
    display: flex;
    position: absolute;
    left: 245px;
}
#a1 {
    display: flex;
    position: absolute;
    left: 280px;
}
#c2 {
    display: flex;
    position: absolute;
    left: 350px;
}
#d2 {
    display: flex;
    position: absolute;
    left: 385px;
}
#f2 {
    display: flex;
    position: absolute;
    left: 455px;
}
#g2 {
    display: flex;
    position: absolute;
    left: 490px;
}
#a2 {
    display: flex;
    position: absolute;
    left: 525px;
}
#c3 {
    display: flex;
    position: absolute;
    left: 595px;
}
#d3 {
    display: flex;
    position: absolute;
    left: 630px;
}
#f3 {
    display: flex;
    position: absolute;
    left: 700px;
}
#g3 {
    display: flex;
    position: absolute;
    left: 735px;
}
#a3 {
    display: flex;
    position: absolute;
    left: 770px;
}