body{
    background-color: wheat;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box {
    display: flex;
    position: relative;
    gap: 0;
}

.bu1:active{
    background-color: grey;
}
.bu1 {
    font-weight: bold;
    height: 180px;
    width: 35px;
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    padding-top: 110px;
    z-index: 1;
    border-color: none;
}
.bu2 {
    z-index: 2;
    height: 120px;
    width: 30px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 -15px 0 -15px;
    padding-top: 60px;
    cursor: pointer;
    text-align: center;
}

@media(max-width : 800px){
    .box{
        max-width: 700px;
    }
}
